---

- name: Check if Prometheus config file exists
  stat:
    path: "{{ prometheus_config_dir }}/prometheus.yml"
  register: prometheus_config_stat

- name: Configure Prometheus main configuration file
  template:
    src: "prometheus/prometheus.yml.j2"
    dest: "{{ prometheus_config_dir }}/prometheus.yml"
    owner: "{{ prometheus.user }}"
    group: "{{ prometheus.group }}"
    mode: "0644"
  become: yes
  become_user: prometheus
  when: not prometheus_config_stat.stat.exists
