#########################################################################
# Parameters
#########################################################################
# symlink_path: path of symlink
# gd_image_dest_path: target path to unarchive
# symlink_readme_file: file path of .latest_symlink_path
#########################################################################

- name: Get original symlink's status
  ansible.builtin.stat:
    path: "{{ symlink_path }}"
  register: previous_symlink_path

- name: Print original symlink_path
  ansible.builtin.debug:
    msg: "{{ previous_symlink_path.stat.lnk_target }}"
  when: previous_symlink_path.stat.islnk is defined and previous_symlink_path.stat.islnk

- name: Generate .latest_symlink_path to record symlink path
  include_tasks: "linux/replace_readme.yml"
  vars:
    deploy_path: "{{ previous_symlink_path.stat.lnk_target }}"
    source_file: ".latest_symlink_path.j2"
    dest_file: "{{ symlink_readme_file }}"
    user: "{{ prometheus }}"
  when: previous_symlink_path.stat.islnk is defined and previous_symlink_path.stat.islnk
- name: Remove original symlink - {{ symlink_path }}
  ansible.builtin.file:
    path: "{{ symlink_path }}"
    state: absent

- name: softlink link {{ symlink_path }} to {{ gd_image_dest_path }}
  ansible.builtin.file:
    src: "{{ gd_image_dest_path }}"
    dest: "{{ symlink_path }}"
    state: link
    owner: "{{ prometheus.user }}"
    group: "{{ prometheus.group }}"
    force: yes