---

- name: Configure Prometheus main configuration file
  template:
    src: "prometheus.yml.j2"
    dest: "{{ prometheus_config_dir }}/prometheus.yml"
    owner: "{{ prometheus.user }}"
    group: "{{ prometheus.group }}"
    mode: "0644"
  become: yes
  become_user: prometheus